@model CampgroundCategoryModel
@{
    Layout = "~/Plugins/Campgrounds/Views/Shared/_ColumnsOne.cshtml";
}
<h1 class="title">App Offline!</h1>
<h2 class="sub-title">Looks like your connection is offline. You can still use the app in a limited capacity.</h2>
